html, body , .container{
    height: 100%;
    width: 100%;
     margin: 0;
	/* padding: 0;
	border: 0; */
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}

.separador {
    border-bottom: solid 1px rgb(107, 107, 107);
    background-color: greenyellow;
    margin: 5px;
}

.menu-lateral {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(48, 179, 107);
}

.conteudo {
    /* border: 1px solid #000; */
        grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(211, 211, 211);
    display: grid;
    grid-template-rows: 15% auto 15%;
    
}

.cabecalho {
    border: 1px solid #000;
}

.conteudo-geral {
    border: 1px solid #000;
}

.rodape {
    border: 1px solid #000;
}



.titulo > h1 {
    color: rgb(128, 128, 161);
}
